<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Joepimetheus</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header class="site-header">
  <h1>Joepimetheus - {% block title %}{% endblock title %}</h1>
  {% include("navigation.html") %}
</header>

<section>
  <main>
    {% block header %}{% endblock header %}
    {% block content %}<p>No messages.</p>{% endblock content %}
  </main>
</section>
</body>
</html>