{% extends 'base.html' %}

<h1>{% block title %}My Works{% endblock title %}</h1>

{% block header %}<h2>Module 1: Under Construction >> Joepimetheus' Webpage Arrival!!!</h2>{% endblock header %}

{% block content %}
  <p>This is not a mere afterthought, but a significant milestone in my journey as a developer.
      This module introduces me to the flask framework and web development concepts. With a focus on 
      simple yet scalable building blocks, the more we build, the more we learn. The more we learn
        the more we grow. Come join me on the self-discovery. Let's found the next step.</p>
  <p><strong>GitHub:</strong> <a href="https://github.com/dbreen-glitch/jhu_software_concepts/tree/Module-1-Simple" target="_blank">https://github.com/dbreen-glitch/jhu_software_concepts/tree/Module-1-Simple</a></p>
{% endblock content %}
