<!DOCTYPE html>
<html>
<head>
    <title>Who is Dylan</title>
</head>
<body>
    <h1>Dylan Joseph Breen</h1>
    <h2>Principal Technical Solutions Consultant - PLM</h2>
    <h3>Topgolf Callaway Brands, Inc.</h3>
    <img src="{{url_for('static', filename='python.jpg')}}">
    <p>Dylan Breen has worked in Product Development, Hardware/Software Configuration, and 
        Database Systems for over 12 years. He received his B.A. in Cognitive Science with
         a concentration on Consciousness Studies from University of California, Berkeley in 2014.
        An avid computer hobbiest and always loving a good story, he enjoys the journey of
         a good video game as well as the writing of a good story. You will find him at home,
         reading or writing if not seeing what next adventure minds more thoughtful than him have
         put together on the screen. Or you may find him out hiking the forests and jungles available
         to him that brings him to higher peaks where he enjoys the vistas of a well earned peace at the
         mountaintop.</p>
</body>
</html>